<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/style3.css" />
</head>

<body>
    <div class="section container">
        <h1>404</h1>
        <h2>Page Not Found 😢</h2>
        <p>The page you’re looking for doesn’t exist or has been moved.</p>
        <a class="cta-button" href="/">Back to Home</a>
    </div>
</body>

</html>