<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>503 - Service Unavailable</title>
    <link rel="stylesheet" href="/style3.css" />
</head>

<body>
    <div class="section container">
        <h1>503</h1>
        <h2>Service Unavailable 🚧</h2>
        <p>Our servers are busy or undergoing maintenance. Please try again later.</p>
        <a class="cta-button" href="/">Back to Home</a>
    </div>
</body>

</html>