<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style2.css">
    <link rel="icon" type="image/png" href="/favicon.png" />

</head>

<body>
    <div class="section container">
        <h2 class="section-title">Email Verification</h2>
        <p class="section-subtitle">Check your VIT mail for the OTP</p>
        <form action="/verify-otp" method="POST" class="contact-form">
            <% if (error) { %>
                <p style="color: red;">
                    <%= error %>
                </p>
                <% } %>
                    <div class="form-group">
                        <label>Enter OTP</label>
                        <p>Please Check Spam folder</p>
                        <input type="text" name="enteredOtp" required />
                    </div>
                    <button type="submit" class="cta-button">Verify</button>
                    <div id="loader" style="display: none; text-align: center; margin-top: 1rem;">
                        <img src="/loader.gif" alt="Loading..." style="width: 40px; height: 40px;" />
                        <p style="margin-top: 0.5rem;">Processing...</p>
                    </div>
        </form>
    </div>
</body>
<script>
    const form = document.querySelector("form");
    const loader = document.getElementById("loader");

    form.addEventListener("submit", () => {
        loader.style.display = "block";
    });
</script>

<script>
    // Prevent user from navigating back after logout
    if (window.history && window.history.pushState) {
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
            window.history.pushState(null, "", window.location.href);
        };
    }
</script>

</html>